@import 'theme.scss';

.slider-container {
  height: 250px;
  img {
    width: 100% !important;
  }
}
// 搜索区域
.search-container {
  margin: 0 10px;
  & > * {
    margin: 5px 0;
  }
  .level {
    height: 50px;
    border-radius: 5px;
    background-color: $COLOR2;
    padding: 0 10px;
    width: 100%;
  }
  .search-button {
    width: 100%;
  }
}
.recommand-container {
  margin: 5px 0;
  img {
    width: 40px;
    height: 40px;
  }
  .label {
    font-size: 10px;
    transform: scale(0.8);
  }
}
// 广告区域
.ad-container {
  margin: 10px;
  .split {
    padding: 5px;
  }
  .ad-item {
    $radius: 5px;
    min-height: 100px;
    &.left {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
    &.right {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}
