<ion-content class="page hotel">
  <ion-slides class="slider-container" pager="true" [options]="slideOptions">
    <ion-slide> <img src="assets/image/hotel.jpg" /> </ion-slide>
    <ion-slide> <img src="assets/image/hotel.jpg" /> </ion-slide>
    <ion-slide> <img src="assets/image/hotel.jpg" /> </ion-slide>
  </ion-slides>
  <div class="search-container row nowarp">
    <app-select-position></app-select-position>
    <app-select-date></app-select-date>
    <div
      class="level row middle-span"
      [ngStyle]="{ color: level.length > 0 ? 'black' : 'darkgray' }"
      (click)="onSelectLevel()"
    >
      {{ getLevelLabel() }}
    </div>
    <ion-button
      class="search-button"
      expand="block"
      (click)="onSearch()"
      [disabled]="!(selectDateComponent?.days > 0)"
    >
      搜索
    </ion-button>
  </div>
  <div class="recommand-container row nowrap around-span">
    <div
      class="recommand-item col middle-span center-span"
      *ngFor="let item of recommandList"
    >
      <img [src]="item.icon" />
      <div class="label">{{ item.label }}</div>
    </div>
  </div>
  <div class="ad-container">
    <div class="row nowrap">
      <div #aditem class="col-span ad-item left"></div>
      <div class="split"></div>
      <div class="col col-span nowrap">
        <div #item class="row-span ad-item right"></div>
        <div class="split"></div>
        <div #aditem class="row-span ad-item right"></div>
      </div>
    </div>
    <div class="split"></div>
    <div class="row nowrap">
      <div #aditem class="col-span ad-item left"></div>
      <div class="split"></div>
      <div #aditem class="col-span ad-item left"></div>
    </div>
  </div>
  <app-end-line></app-end-line>
</ion-content>
