.content-top{
  margin-top:50px;
  width:100%;
  text-align: center；
}
.input-style{
  width: 229px;
  height: 26px;
  border: solid #51d3cc 1px;
}
.input-style1{
  width: 229px;
  height: 26px;
  border: solid #51d3cc 1px;
  margin-top:15px; 
}
.btn-mail{
    width: 90px;
    height: 26px;
    position: absolute;
    background-color: #51d3cc;
    text-align: center;
    margin-left:57%;
    float: right;
    z-index: 9999;
    margin-top:15px; 
    color: #fff;
}
.btn-mail-cover{
  width: 90px;
  height: 26px;
  position: absolute;
  background-color: white;
  text-align: center;
  margin-left:57%;
  float: right;
  z-index: 9999;
  opacity: 0.6;
  margin-top:15px; 
}
.getback-btn-comfire{
    margin-top:250px;
    text-align: center;
}
.getback-login-class{
  width: 175px;
  height: 40px;
  text-align: center;
  background-color: #51d3cc;
  font-size: 17px;
}