<ion-header>
    <ion-toolbar>
      <app-back-button slot="start"></app-back-button>
      <ion-title>密码找回</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding class="cont_background">
  <div class="content-top">
    <div style="text-align: center;">
      <input type="text" placeholder="手机号" [(ngModel)]="name" class="input-style" />
      <div class="btn-mail" (click)="getSmsCode()">
        {{codestring}}
      </div>
      <div class="btn-mail-cover" [ngClass]="{'btn-mail-cover':sending}">
      </div>
      <input type="text" placeholder="验证码" [(ngModel)]="smsCode" class="input-style1" />
    </div>
    <div class="getback-btn-comfire">
      <button ion-button class="getback-login-class" (click)="complite()">提交</button>
    </div>
  </div>
</ion-content>