.wallet-info {
  width: 100%;
  height: 200px;
  img {
    width: 40%;
  }
  .address {
    width: 80%;
  }
}

.wallet-operation {
  ion-button {
    --background: #51d3cc;
    margin: 0 20px;
    width: 75px;
  }
}

.wallet-amount {
  margin-top: 50px;
  .token-item {
    border-bottom: solid lightgray 1px;
    margin-bottom: 1rem;
    .token-image {
      height: 1.5rem;
      width: 1.5rem;
      float: left;
    }
  }
}
