<ion-header>
  <ion-toolbar>
    <app-back-button color="black" slot="start"></app-back-button>
    <ion-title text-center> {{ wallet?.name }} </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onChangeWallet()">
        <ion-icon name="repeat"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="wallet-info row center-span middle-span"
    routerLink="wallet/wallet-info"
  >
    <img src="assets/image/logo.png" />
    <div class="address" (click)="onCopyAddress()">{{ wallet?.address }}</div>
  </div>
  <div class="wallet-operation row around-span">
    <div>
      <ion-button outline routerLink="/wallet/receive"> 收款 </ion-button>
      <ion-button outline [routerLink]="['/wallet/transfer', { token: 'JCO' }]">
        转账
      </ion-button>
    </div>
  </div>
  <ion-card padding class="wallet-amount">
    <ion-card-content>
      <ion-grid>
        <ion-row
          class="token-item"
          [routerLink]="['/wallet/transfer', { token: 'JCO' }]"
        >
          <ion-col col->
            <img class="token-image" src="assets/image/logo.png" />
            <ion-label class="token-name">JCO</ion-label>
          </ion-col>
          <ion-col col-7 text-right class="token-balance">
            {{ walletOfToken?.balance.toString() }}
          </ion-col>
          <ion-col col-1 text-left> 个 </ion-col>
        </ion-row>
        <ion-row
          class="token-item"
          [routerLink]="['/wallet/transfer', { token: 'ETH' }]"
        >
          <ion-col col-4>
            <img class="token-image" src="assets/image/logo.png" />
            <ion-label class="token-name">ETH</ion-label>
          </ion-col>
          <ion-col col-7 text-right class="token-balance">
            {{ walletOfETH?.balance.toFixed(2) }}
          </ion-col>
          <ion-col col-1 text-left> ETH </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
