<ion-content class="page product-list">
  <ngx-amap
    class="amap"
    [resizeEnable]="true"
    [center]="[116.397428, 39.90923]"
    [zoom]="13"
  ></ngx-amap>
  <ion-header class="header">
    <ion-toolbar>
      <app-back-button slot="start"></app-back-button>
      <ion-searchbar placeholder="搜索" type="text"> </ion-searchbar>
      <div slot="end" class="setting-icon row middle-span center-span">
        <div class="split"></div>
        <ion-icon name="options" (click)="(onOpenSetting)"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="content">
    <div class="v-list" *ngIf="productList && productList.length">
      <ion-list>
        <app-product-item
          *ngFor="let product of productList"
          [product]="product"
        ></app-product-item>
      </ion-list>

      <ion-infinite-scroll
        threshold="100px"
        (ionInfinite)="getProductList($event)"
      >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="正在加载..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div
      *ngIf="productList && productList.length === 0"
      class="empty-list row middle-span center-span"
    >
      <label>没有找到符合条件的房间</label>
    </div>
  </div>
</ion-content>
