<ion-content class="user-page">
  <!--用户区-->
  <div class="user-box">
    <!--用户登录-->
    <ion-grid *ngIf="!currentUser" class="user-info">
      <ion-row align-items-center justify-content-center>
        <div class="login-icon" routerLink="/user/login">立即登录</div>
      </ion-row>
    </ion-grid>
    <!--用户信息-->
    <div *ngIf="currentUser" class="user-info">
      <ion-row>
        <ion-col size="auto">
          <ion-item>
            <ion-avatar>
              <img src="/assets/image/user_photo.jpg" />
            </ion-avatar>
          </ion-item>
        </ion-col>
        <ion-col>
          <div>测试人员</div>
          <div>Home</div>
          <div>1,233,555,00</div>
        </ion-col>
      </ion-row>
      <div class="user-sign">签到有理</div>
    </div>
    <!--用户按钮-->
    <ion-grid class="user-button">
      <ion-row align-items-center justify-content-center>
        <ion-col
          *ngFor="let item of userButtons"
          text-center
          [routerLink]="item.target"
        >
          <div class="user-button-image"><img [src]="item.icon" /></div>
          <ion-text>{{ item.label }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--广告区-->
  <div class="user-ad"><img src="assets/image/user_background.jpg" /></div>
  <!--菜单区-->
  <div class="user-menu">
    <ion-list>
      <ion-item *ngFor="let item of userMenus">
        <ion-label>{{ item.label }}</ion-label>
        <ion-icon
          slot="end"
          name="arrow-forward"
          [routerLink]="item.target"
        ></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
