<ion-header class="header">
  <ion-toolbar> <app-back-button slot="start"> </app-back-button> </ion-toolbar>
</ion-header>

<ion-footer class="footer"> </ion-footer>

<ion-content padding>
  <ion-slides class="product-image" pager="true" [options]="slideOptions">
    <ion-slide> <h1>Slide 1</h1> </ion-slide>
    <ion-slide> <h1>Slide 2</h1> </ion-slide>
    <ion-slide> <h1>Slide 3</h1> </ion-slide>
  </ion-slides>
  <div class="container">
    <div class="name"></div>
    <div class="english"></div>
    <div class="row nowrap">
      <div></div>
      <div></div>
    </div>
  </div>
</ion-content>
