// TODO:style alias
@import 'helper.scss';

$height: 100px;

:host {
  width: 100%;
  height: $height;
  background-color: transparent;
}

.component.hotel-item {
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 2px gray;
  .photo {
    flex-basis: 80px;
    width: 80px;
    background-size: 100% 100%;
    height: $height;
    border-radius: 10px;
    background-image: url('/assets/image/hotel.jpg');
  }
  .content {
    padding: 0 5px;
    .name {
      @include set-font(18px, bold);
    }
    .english {
      @include set-font(12px, bold);
    }
    .address {
      @include set-font(10px, normal, gray);
    }
    .comment {
      @include set-font(8px, normal, gray);
      padding: 0 10px;
    }
    .tag {
      padding: 4px 10px;
      border-radius: 10px;
      border: 1px solid green;
      @include set-font(10px, normal, green);
    }
    .price {
      @include set-font(12px, normal, orange);
      label {
        margin: 0 2px;
      }
    }
  }
}
