<ion-header>
  <ion-toolbar>
    <app-back-button  slot="start"></app-back-button>
    <ion-title> {{ hotel?.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <div class="footer row nowrap middle-span">
    <div class="row price col-span middle-span">
      <div class="sign">HOME</div>
      <div class="amount">{{ priceTotal.toFixed(2) }}</div>
    </div>
    <ion-button
      class="submit"
      [disabled]="!orderForm.valid"
      (click)="onSubmitOrder()"
      >提交</ion-button
    >
  </div>
</ion-footer>

<ion-content class="order-content">
  <ion-card class="base-info">
    <ion-card-content>
      <div class="room row middle-span">
        <div class="name">{{ room?.name }}</div>
      </div>
      <div class="date row between-span">
        <ion-datetime
          placeholder="入店日期"
          [(ngModel)]="dateRange.start"
          display-format="MM月DD日"
          picker-format="YYYY MM DD"
          [min]="today"
          [max]="dateRange.end"
          (ionChange)="onUpdatePriceTotal()"
          cancelText="取消"
          onchange=""
          doneText="确定"
        ></ion-datetime>
        <div>{{ dateRange?.start | week: 'today' }}</div>
        <div>-</div>
        <ion-datetime
          placeholder="入店日期"
          [(ngModel)]="dateRange.end"
          display-format="MM月DD日"
          (ionChange)="onUpdatePriceTotal()"
          picker-format="YYYY MM DD"
          [min]="dateRange.start || today"
          cancelText="取消"
          doneText="确定"
        ></ion-datetime>
        <!--<div>{{ dateRange?.end.format('MM月DD日') }}</div>-->
        <div>{{ dateRange?.end | week: 'today' }}</div>
        <div>住{{ dateRange.days }}天</div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="order-info">
    <ion-card-header>
      <ion-card-title class="title">入住信息</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="orderForm">
        <ion-item>
          <ion-label>间数</ion-label>
          <ion-select
            cancelText="取消"
            okText="确定"
            formControlName="count"
            placeholder="选择间数"
            (ionChange)="onUpdatePriceTotal()"
          >
            <ion-select-option
              *ngFor="let item of array(room.total); let index = index"
              [value]="index + 1"
              >{{ index + 1 }}间</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>入住人</ion-label>
          <ion-input
            text-right
            type="text"
            formControlName="name"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>手机号</ion-label>
          <ion-input
            text-right
            type="text"
            formControlName="phone"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>到店时间</ion-label>
          <ion-select cancelText="取消" okText="确定" formControlName="time">
            <ion-select-option *ngFor="let item of arriveTime" [value]="item">{{
              item
            }}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card class="payment-info">
    <ion-card-header>
      <ion-card-title class="title row nowrap bottom-span between-span">
        <div>HOME CHAIN/住宿链</div>
        <div class="subtitle">免押金 免查房 免排队</div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="row nowrap">
        <div class="flow-item col-span-4">
          <div class="item-header">免除手续费</div>
          <div class="item-content">
            <div>所有交易</div>
            <div>全部0手续费</div>
          </div>
        </div>
        <div class="flow-item  col-span-4">
          <div class="item-header">到店享三免</div>
          <div class="item-content">
            <div>办理入住免押金</div>
            <div>退房免查房免排队</div>
          </div>
        </div>
        <div class="flow-item  col-span-4">
          <div class="item-header">支付更快捷</div>
          <div class="item-content">
            <div>电子货币支付</div>
            <div>交易便捷安全</div>
          </div>
        </div>
      </div>
      <ion-item>
        <ion-label>支付方式</ion-label>
        <ion-select cancelText="取消" okText="确定" [ngModel]="paymentMethod">
          <ion-select-option value="HOME">HOME支付</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="server-info">
    <ion-card-header>
      <ion-card-title class="title"> <div>更多服务</div> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>报销凭证</ion-label>
        <ion-select cancelText="取消" okText="确定" [ngModel]="paymentMethod">
          <ion-select-option value="HOME">酒店前台索取</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="tip-info">
    <div class="header">入离时间</div>
    <div>15:00后办理入住,早到店可能需要等待</div>
    <div>12:00前办理退房,需住及行李寄存请联系前台</div>
  </div>
</ion-content>
