<ion-header no-border>
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title>1{{ token }}1转账</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="transferForm">
    <ion-item>
      <ion-label color="primary" position="floating">付款钱包</ion-label>
      <ion-textarea
        type="text"
        [value]="currentWallet?.address"
        text-right
        readonly
        required
      ></ion-textarea>
    </ion-item>
    <div class="balance tip row between-span" text-right>
      <div>{{ currentWallet?.name }}</div>
      <div>钱包余额: {{ tokenInfo?.balance.toString() }}</div>
    </div>
    <ion-item>
      <ion-label color="primary" position="floating">收款地址</ion-label>
      <ion-textarea
        type="text"
        formControlName="toAddress"
        text-right
        required
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">转账金额</ion-label>
      <ion-input
        type="number"
        formControlName="amount"
        text-right
        required
      ></ion-input>
    </ion-item>
    <div class="gas-price">
      <ion-text class="label" color="primary" position="floating"
        >进度</ion-text
      >
      <ion-range formControlName="gasPrice" min="1" pin="true" max="100">
        <ion-label slot="start">慢</ion-label>
        <ion-label slot="end">快</ion-label>
      </ion-range>
    </div>
    <div class="tip" text-right>转账进度不同，费用不同</div>

    <ion-button
      class="submit"
      expand="block"
      [disabled]="!transferForm.valid"
      (click)="onTransfer()"
      >确定</ion-button
    >
  </form>
  <!-- <div class="transfer-miandiv">
    <div>
      <div><p class="font-style-page">收款地址</p></div>
      <ion-input
        type="text"
        class="input-style"
        [(ngModel)]="toAddress"
      ></ion-input>
    </div>

    <div class="pay-wallet-style">
      <p class="font-style-page-pay">付款钱包</p>
      <ion-input
        type="text"
        class="input-style"
        readonly="true"
        style="margin-bottom: 5px;"
        [(ngModel)]="fromAddress"
      ></ion-input>
    </div>
    <div class="transfer-money-style">
      <div class="transfer-remain-style">
        <span>{{ tokenName }}</span>
        <span class="transfer-current">当前余额：123</span>
      </div>
      <div>
        <ion-input
          type="number"
          placeholder="输入整数"
          (keyup)="calAmount()"
          [(ngModel)]="sendCount"
        ></ion-input>
      </div>
    </div>
    <div class="transfer-money-style">
      <ion-input
        type="text"
        placeholder="备注"
        [(ngModel)]="remark"
      ></ion-input>
    </div>
    <div class="append-gas">
      <div style="width: 100%">
        <ion-label>进度（注：转账进度不同，费用不同）</ion-label>
        <ion-range
          [(ngModel)]="gasPrice"
          (ionBlur)="calGas()"
          min="1"
          pin="true"
          max="100"
          style="width: 100%"
        >
          <ion-icon range-left small>慢</ion-icon>
          <ion-icon range-right small>快</ion-icon>
        </ion-range>
      </div>
    </div>
    <div class="transfer-login-div">
      <button ion-button class="transfer-login-class" (click)="send()">
        确认
      </button>
    </div>
  </div> -->
</ion-content>
