.header {
  position: absolute;
  margin: 10px;
  top: 0;
  z-index: 10;
}

.logo {
  height: 200px;
  img {
    height: 150px;
    animation: circle 3s infinite linear;
    @keyframes circle {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.content {
  .submit {
    margin: 20px 0;
  }
  .footer {
    a {
      color: #00629f;
      text-decoration: none;
    }
  }
}

ion-button {
  --background: black;
}

ion-content {
  --background: #1bd4c6;
}

ion-label {
  --color: #00629f;
}

ion-item {
  --background: transparent;
}

// .miandiv{
//   width: 234px;
//   height: 542px;
//   margin: auto;
//   position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }
// .imageclass{
//   height: 109px;
//   width: 139px;
// }
// .divbox{
//   text-align: center;
//   width: 100%;
//   height: 109px;
// }
// .input-class{
//   height: 2rem;
//   width: 100%;
// }
// .button_login{
//   width: 100%;
//   text-align: center;
//   margin-bottom: 23px;
//   font-size: 2rem;
//   margin-top:86px;
// }
// .sub_button_select{
//   border-bottom:0.2rem solid #51d3cc;
//   position:relative;
// }
// .abtn_login{
//   font-size: 18px;
//   width: 68px;
//   display:inline-block;
//   color: #51d3cc;
// }
// .abtn_register{
//   font-size: 18px;
//   width: 68px;
//   display:inline-block;
//   color: #51d3cc;
//   margin-left: 4rem;
// }
// .btn_code{
//   width: 3.5rem;
//   height:3rem;
// }
// .forget-password{
//   text-align: center;
//   font-size: 11px;
//   margin-top:12px;
//   color: gray;
// }
// .btn-class{
//   margin-top:116px;
//   text-align: center;
// }
// .login-class{
//   width: 172px;
//   height: 43px;
//   text-align: center;
//   background-color: #51d3cc;
//   font-size: 17px;
// }
// .login-div{
//   text-align: center;
//   width: 229px;
// }
// .login-div-password{
//   padding-top:10px;
// }
// .login-div-password1{
//   padding-top:11px;
// }
// .input-oldclass{
//   width: 229px;
//   height: 26px;
//   border: solid  #51d3cc 1px;
// }
// .text-input {
//   margin:4px 8px 11px 0;
//   padding: 0;
//   width: calc(100% - 8px);
// }
// .btn-class-register{
//   margin-top:80px;
//   text-align: center;
// }
// .btn-mail{
//   width: 40%;
//   height: 26px;
//   position: absolute;
//   background-color: #51d3cc;
//   text-align: center;
//   float: right;
//   z-index: 9999;
//   line-height: 2;
//   margin-left:59%;
//   // display:block !important;
// }
// .btn-mail-cover{
//   width: 40%;
//   height: 26px;
//   position: absolute;
//   background-color: white;
//   text-align: center;
//   float: right;
//   z-index: 9999;
//   line-height: 2;
//   margin-left:59%;
//   opacity: 0.6;
// }
// .input-phone{
//   width:100%;
//   height: 26px;
//   border: solid #51d3cc 1px;
//   position: relative;
// }
// .sms-class{
//   color: #fff;
// }
