<div class="header">
  <app-back-button  slot="start"></app-back-button>
</div>
<ion-content padding>
  <div class="logo row middle-span center-span">
    <img src="assets/image/login_icon.png" />
  </div>
  <ion-grid class="content">
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <ion-item>
            <ion-label color="primary" position="floating">用户名</ion-label>
            <ion-input
              type="text"
              formControlName="username"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label icon="password" color="primary" position="floating"
              >密码</ion-label
            >
            <ion-input
              type="password"
              formControlName="password"
              required
            ></ion-input>
          </ion-item>
          <ion-button
            class="submit"
            expand="block"
            [disabled]="!loginForm.valid"
            (click)="onLogin()"
            >登录</ion-button
          >
          <div class="footer row between-span">
            <a routerLink="/user/register">还没有账户?</a>
            <a routerLink="/user/forget-password">忘记密码</a>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
