@import 'theme.scss';

:host {
  width: 100%;
  $height: 80px;

  .component.select-date {
    height: $height;
    border-radius: 5px;
    background-color: $COLOR2;
    padding: 0 10px;
  }

  .split {
    width: 30px;
  }

  .days {
    width: 50px;
  }
}

ion-datetime {
  font-weight: bold;
}
