@import '../../../../assets/style//helper.scss';
$color: #3bc395;
:host {
  height: 100%;
}

.header {
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  z-index: 100;
  padding: 2px 10px;
  &.show-title {
    background-color: white;
    box-shadow: 2px 2px 2px lightgray;
    ion-icon {
      color: darkgray;
    }
  }
  app-back-button {
    color: white;
  }
  ion-icon {
    font-size: 28px;
    height: 29px;
    margin: 0 7px;
    color: white;
    text-shadow: 2px 2px 2px lightgray;
  }
  .collect {
    &.has-collect {
      color: rgb(230, 84, 84);
    }
  }
  .title {
    display: inline-block;
    height: 30px;
    line-height: 30px;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -2px 5px lightgrey;
  background-color: white;
  padding: 5px 10px;
  .good,
  .bad {
    @include set-font(18px, bold, #7e7e7e);
    .number {
      @include set-font(10px, normal, #9e9e9e);
      padding: 0 5px;
    }
  }
  .write {
    @include set-font(18px, normal, $color);
    ion-icon {
      font-size: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }
}

.hotel-image {
  top: 0;
  height: 250px;
  img {
    width: 100%;
  }
}

.container {
  position: absolute;
  margin-top: -6px;
  width: 100%;
  z-index: 10;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  margin-bottom: 60px;
}

.hotel-info {
  position: relative;
  &>*:not(.name) {
    margin-bottom: 3px;
  }
  .name {
    @include set-font(20px, bold);
  }
  .english {
    @include set-font(12px, bold);
  }
  .address {
    @include set-font(12px, normal, gray);
  }
  .star {
    .star-number {
      padding: 0 10px;
    }
  }
  .tag-list {
    .tag {
      padding: 2px 5px;
      border: 1px solid $color;
      color: $color;
      border-radius: 5px;
      margin: 2px 5px 2px 0;
      @include set-font(12px, bold, $color);
      &.odd {
        background-color: $color;
        color: white;
        box-shadow: 2px 2px 10px $color;
      }
    }
  }
  .price {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    background-color: #efefef;
    margin-bottom: 5px;
    @include set-font(16px, bold, #9f9f9f);
    .amount {
      @include set-font(14px, bold, orange);
      .label {
        padding: 0 2px;
      }
    }
  }
}

.hotel-map {
  position: relative;
  margin: 3px 0;
  height: 120px;
  .amap {
    height: 100%;
  }
  .navigate {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    padding: 5px 10px;
    @include set-font(14px, bold, gray);
    .split {
      width: 1px;
      height: 25px;
      background-color: lightgray;
    }
  }
}

.hotel-server {
  margin: 3px 0;
  .star {
    label {
      @include set-font(14px, normal, gray);
    }
  }
  .phone {
    padding: 5px 10px;
    background-color: #efefef;
    ion-icon {
      height: 28px;
      font-size: 28px;
      color: $color;
    }
    .number {
      @include set-font(18px);
    }
  }
  .service {
    margin: 5px 0;
    .service-item {
      padding: 10px 2px;
      ion-icon {
        padding-right: 5px;
        color: $color;
      }
      label {
        @include set-font(14px, normal, #5e5e5e);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .visiable {
      @include set-font(12px, normal, $color);
    }
  }
}

.hotel-room {
  .room-list {
    .room-item {
      border-radius: 10px;
      box-shadow: 2px 2px 2px lightgray;
      height: 80px;
      margin-bottom: 10px;
      padding-right: 10px;
      .room-image {
        width: 100px;
        border-radius: 10px;
      }
      .room-info {
        padding: 10px;
        .name {
          @include set-font(18px, bold);
        }
        .price {
          text-align: right;
          @include set-font(16px, bold, orange);
        }
      }
    }
  }
}

ion-toolbar {
  --background: transparent;
}