<div
  class="header row nowrap between-span middle-span"
  [ngClass]="{ 'show-title': scrollTop > 200 }"
>
  <div class="row nowrap">
    <app-back-button color="black"></app-back-button>
    <label class="title" *ngIf="scrollTop > 200">{{ hotel?.name }}</label>
  </div>
  <div>
    <ion-icon class="collect has-collect" name="heart"></ion-icon>
    <ion-icon class="share" name="share"></ion-icon>
  </div>
</div>
<div class="footer row middle-span nowrap">
  <div class="good col-span-4 row nowrap middle-span">
    <label>好评</label>
    <label class="number">{{ hotel?.commenterCount }}条</label>
  </div>
  <div class="bad col-span-4 row nowrap middle-span">
    <label>差评</label>
    <label class="number">{{ hotel?.commenterCount }}条</label>
  </div>
  <div class="write col-span-4 row nowrap middle-span center-span">
    <ion-icon name="clipboard"></ion-icon>
    <label>写点评</label>
  </div>
</div>
<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-slides class="hotel-image" pager="true" [options]="slideOptions">
    <ion-slide> <img src="assets/image/hotel.jpg" /> </ion-slide>
    <ion-slide> <img src="assets/image/hotel.jpg" /> </ion-slide>
    <ion-slide> <img src="assets/image/hotel.jpg" /> </ion-slide>
  </ion-slides>
  <!--酒店图片-->
  <div class="container" padding>
    <!--酒店基础信息-->
    <div class="hotel-info">
      <div class="name">{{ hotel?.name }}</div>
      <div class="english">{{ hotel?.englishName }}</div>
      <div class="address">{{ hotel?.location }}</div>
      <div class="row nowrap star">
        <app-score-star [star]="4"></app-score-star>
        <div class="star-number">4</div>
      </div>
      <div class="row tag-list">
        <ng-container
          *ngFor="let item of hotel?.tags; let index = index; let odd = odd"
        >
          <div class="tag" *ngIf="index < 2" [ngClass]="{ odd: odd }">
            {{ item }}
          </div>
        </ng-container>
      </div>
      <div class="price" *ngIf="price && price > 0">
        <div>每晚</div>
        <div class="amount">
          <label>{{ price.toFixed(2) }}</label> <label>起</label>
        </div>
      </div>
    </div>
    <!--酒店位置地图-->
    <div class="hotel-map">
      <ngx-amap
        class="amap"
        [resizeEnable]="true"
        [center]="position"
        [zoom]="13"
      >
        <amap-marker
          [position]="position"
          [icon]="icon"
          [label]="label"
        ></amap-marker>
      </ngx-amap>
      <div class="row middle-span between-span navigate">
        <label>问路卡</label>
        <div class="split"></div>
        <ion-icon name="paper-plane"></ion-icon>
      </div>
    </div>
    <!--酒店设施信息-->
    <div class="hotel-server">
      <div class="row nowrap between-span">
        <div class="star">
          <label>酒店星级</label>
          <app-score-star [star]="4" color="#FBDE01"></app-score-star>
        </div>
        <div class="phone row  middle-span">
          <ion-icon name="call"></ion-icon>
          <div class="number">{{ hotel?.contact }}</div>
        </div>
      </div>
      <div class="service">
        <div class="row">
          <ng-container
            *ngFor="let item of hotel?.facilities; let index = index"
          >
            <div
              *ngIf="!hiddenServer || index < 3"
              class="service-item row nowrap middle-span col-span-4"
            >
              <ion-icon name="beer"></ion-icon>
              <label>{{ item }}</label>
            </div>
          </ng-container>
        </div>
        <div
          class="visiable"
          *ngIf="hiddenServer"
          (click)="hiddenServer = false"
        >
          查看全部设施
        </div>
      </div>
    </div>
    <div class="hotel-room">
      <div class="select-date"></div>
      <div class="room-list">
        <div
          class="room-item row"
          *ngFor="let room of roomList"
          (click)="onOrderRoom(room)"
        >
          <!--TODO:应为房间图片-->
          <img class="room-image" src="assets/image/hotel.jpg" />
          <div class="col-span col arround-span room-info">
            <div class="name">{{ room.name }}</div>
            <div class="price">{{ room.price.toFixed(2) }}</div>
          </div>
          <div class="row middle-span">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
