<section class="component product-item row nowrap">
  <div class="photo"></div>
  <div class="content col-span">
    <div class="name">{{ product?.name }}</div>
    <div class="english">{{ product?.englishName }}</div>
    <div class="address">{{ product?.location }}</div>
    <div class="row nowrap">
      <app-score-star [star]="product?.grand"></app-score-star>
      <div class="comment">{{ product?.commenterCount }}条评论</div>
    </div>
    <div class="row between-span">
      <ng-container *ngFor="let item of product?.tags; let first = first">
        <div class="tag" *ngIf="first">{{ item }}</div>
      </ng-container>

      <div class="price" *ngIf="price">
        <label>HOME</label> <label>{{ price }}</label> <label>起</label>
      </div>
    </div>
  </div>
</section>
