<div class="header">
  <app-back-button color="black" slot="start"></app-back-button>
</div>
<ion-content padding>
  <div class="logo row middle-span center-span nowrap">
    <img class="left" src="assets/image/register_icon.png" />
    <img class="right" src="assets/image/register_icon.png" />
  </div>
  <ion-grid class="content">
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <form [formGroup]="registerForm" (submit)="onSubmit()">
          <ion-item>
            <ion-label color="primary" position="floating">用户名</ion-label>
            <ion-input
              type="text"
              formControlName="username"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">新密码</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">验证码</ion-label>
            <ion-input
              min="4"
              type="text"
              formControlName="code"
              required
            ></ion-input>
            <ion-button
              slot="end"
              class="send-sms-code"
              (click)="onSendVerifyCode()"
              [disabled]="
                sendTime !== 0 || !registerForm.controls.username.valid
              "
              >发送验证码{{
                sendTime === 0 ? '' : '(' + sendTime + 's)'
              }}</ion-button
            >
          </ion-item>
          <ion-button
            class="submit"
            expand="block"
            [disabled]="!registerForm.valid"
            (click)="onRegister()"
            >注册</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
