<ion-content class="page hotel-list" #content id="content">
  <ngx-amap
    class="amap"
    [resizeEnable]="true"
    [center]="[116.397428, 39.90923]"
    [zoom]="13"
  ></ngx-amap>
  <ion-header class="header" mode="ios">
    <ion-toolbar mode="ios">
      <app-back-button slot="start"></app-back-button>
      <ion-searchbar
        class="no-right-radius"
        mode="ios"
        [ngModel]="filter.name"
        placeholder="搜索"
        type="text"
      >
      </ion-searchbar>
      <div slot="end" class="setting-icon row middle-span center-span">
        <div class="split"></div>
        <ion-icon name="options" (click)="onOpenFilter()"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="content">
    <div class="v-list" *ngIf="hotelList && hotelList.length">
      <ion-list>
        <app-hotel-item
          *ngFor="let hotel of hotelList"
          [hotel]="hotel"
        ></app-hotel-item>
      </ion-list>
      <app-end-line *ngIf="page.complete"></app-end-line>
      <ion-infinite-scroll
        threshold="50px"
        (ionInfinite)="getHotelList($event)"
        [disabled]="page.complete"
      >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="正在加载..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div
      *ngIf="hotelList && hotelList.length === 0"
      class="empty-list row middle-span center-span"
    >
      <label>没有找到符合条件的房间</label>
    </div>
  </div>
</ion-content>

<ion-menu
  side="end"
  menuId="filter"
  type="overlay"
  [swipeGesture]="false"
  contentId="content"
>
  <ion-header>
    <ion-toolbar> <ion-title>筛选</ion-title> </ion-toolbar>
  </ion-header>
  <ion-content class="filter">
    <app-hotel-filter [filter]="filter | clone: 'deep'"></app-hotel-filter>

    <div class="footer row center-span">
      <div class="col-span-6 reset" (click)="onResetFilter()">重置</div>
      <div class="col-span-6 submit" (click)="onSumbitFilter()">确定</div>
    </div>
  </ion-content>
</ion-menu>
